@using testProjectLinks.ViewModels;
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 card p-3">
            <h2 class="text-center">Войти</h2>

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    @Html.Label("Логин")
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Адрес электронной почты" })
                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("Пароль")
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <input type="submit" class="btn btn-primary btn-block btn-sm mt-2" value="Войти" />            }

            <p class="text-center mt-3">
                <a href="@Url.Action("Register", "Account")">Не зарегестрированы? Нажмите для перехода на страницу регистрации.</a>
            </p>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}